@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md {
  }
}

@media (min-width: 1200px) {
  #fourseasons {
  }
}

#fourseasons {
  border-style:solid;
  border-right:0;
  border-left:0;
  width:100%;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:white;
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color:white;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color:white;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color:white;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item1 {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item2 {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item3 {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item4 {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item5 {
    color:white;
  }
}

@media (min-width: 768px) {
  #navbar-item6 {
    color:white;
  }
}

#seasons {
  margin-top:20px;
  border-top-style:10px;
}

#nav {
  border:1px solid white;
  border-right:0;
  border-left:0;
}

#seasons {
  /*border:1px solid white;*/
  /*border-right:0;*/
  /*border-left:0;*/
}

@media (min-width: 768px) {
  .col-4.col-md-6 {
  }
}

@media (min-width: 768px) {
  .col-8.col-md-6.offset-0 {
  }
}

@media (min-width: 768px) {
  .col-12.col-md-6.d-inline-block.float-left {
  }
}

@media (min-width: 768px) {
  .col-auto {
  }
}

