<div id="nav">
    <section id="nav-and-carou" style="padding:10px;width:100%;">
        <nav class="navbar navbar-light navbar-expand-md" style="color:rgb(255,255,255);">
            <div class="container-fluid"><a class="navbar-brand" href="Index.html" style="color:rgba(255,255,255,0.9);background-image:url(&quot;assets/img/logo.png&quot;);background-position:center;background-size:contain;background-repeat:no-repeat;width:180px;height:40px;background-color:rgba(255,255,255,0);"></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" style="color:#ffffff;background-color:#ffffff;"><span class="sr-only" style="background-color:rgba(255,255,255,0);color:rgba(255,255,255,0);">Toggle navigation</span><span class="navbar-toggler-icon" style="background-color:rgba(255,255,255,0);color:rgba(16,3,3,0);"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mx-auto" style="color:rgb(255,255,255);margin:12 20px;">
                        {% for name,link in pages.pages %}
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="{{link}}" id="navbar-item1">{{name}}</a></li>
                         {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav" style="color:rgb(255,255,255);">
                        {% for name,link in pages.account %}
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="{{link}}" id="navbar-item5">{{name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</div>