<!doctype html>
 <html>
     {% include 'includes/head.twig' %}
     {%include 'includes/navigation.twig' %}
     
     <body style="background-color:rgb(0,0,0);">
 <div id="imageDetail" style="width:50%;height:auto;margin:0 auto;"><img class="d-inline-block float-none justify-content-between" src="images/bg.jpg" style="height:auto;margin:0 auto;width:100%;"></div>
    <div style="width:75%;margin:10px auto;">
        <p class="text-center" style="color:rgb(255,255,255);">{{ post.postBriefDescription }}</p>
    </div>
    <div class="container" style="margin:10px auto;">
        <div class="row">
            <div class="col-sm-4 text-center">
                <ul class="list-group">
                    <li class="list-group-item heading">
                        <h1 style="font-size:30px;">Silver Ticket</h1>
                        <h4>Most Economical</h4><span class="price">$59</span></li>
                    <li class="list-group-item"><span>cheap</span></li>
                    <li class="list-group-item"><span>cheap</span></li>
                    <li class="list-group-item"><span>cheap</span></li>
                    <li class="list-group-item"><span>cheap</span></li>
                    <li class="list-group-item"><span>cheap</span></li>
                    <li class="list-group-item"><div class="button">
    <p class="btnText">Book Now
    </p>
    <div class="btnTwo">
      <p class="btnText2"><i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>
 </div></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <ul class="list-group">
                    <li class="list-group-item heading">
                        <h1 style="font-size:30px;">Gold </h1>
                        <h4>Most Preferred</h4><span class="price">$79</span></li>
                    <li class="list-group-item"><span>not that cheap</span></li>
                    <li class="list-group-item"><span>not that cheap</span></li>
                    <li class="list-group-item"><span>not that cheap</span></li>
                    <li class="list-group-item"><span>not that cheap</span></li>
                    <li class="list-group-item"><span>not that cheap</span></li>
                    <li class="list-group-item"><div class="button">
    <p class="btnText">Book Now</p>
    <div class="btnTwo">
      <p class="btnText2"><i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>
 </div></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <ul class="list-group">
                    <li class="list-group-item heading">
                        <h1 style="font-size:30px;">Platinum </h1>
                        <h4>The Most </h4><span class="price">$99</span></li>
                    <li class="list-group-item"><span>very expensive</span></li>
                    <li class="list-group-item"><span>very expensive</span></li>
                    <li class="list-group-item"><span>very expensive</span></li>
                    <li class="list-group-item"><span>very expensivce</span></li>
                    <li class="list-group-item"><span>very expensive</span></li>
                    <li class="list-group-item"><div class="button">
    <p class="btnText">Buy Now</p>
    <div class="btnTwo">
      <p class="btnText2"><i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>
 </div></li>
                </ul>
            </div>
        </div>
    </div>
   </body>
   </html>