 <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/bg.jpg" alt="Slide Image" style="width:100%;height:auto;margin:0px;"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/carousel-img.jpg" alt="Slide Image" style="height:auto;width:100%;"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/carousel-img2.jpg" alt="Slide Image" style="width:100%;height:auto;"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/carousel-img3.jpg" alt="Slide Image" style="width:100%;height:auto;"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol
            class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
            </ol>
    </div>
    <div id="season" class="team-grid" style="background-color:rgba(255,255,255,0);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:#ffffff;background-color:rgba(255,255,255,0);">Explore the nature</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet.&nbsp; </p>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(&quot;assets/img/season3.jpg&quot;);">
                        <div class="cover"><a href="Food.html" data-bs-hover-animate="bounce" style="font-size:56px;">Autumn</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(&quot;assets/img/season3.jpg&quot;);">
                        <div class="cover"><a href="Food.html" style="font-size:56px;">Autumn</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(&quot;assets/img/season3.jpg&quot;);">
                        <div class="cover"><a href="Food.html" style="font-size:56px;">Autumn</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(&quot;assets/img/season3.jpg&quot;);">
                        <div class="cover"><a href="Food.html" style="font-size:56px;">Autumn</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="food" class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Sushi</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><img class="img-thumbnail img-fluid" src="assets/img/reataurant3.jpg" id="circle-image">
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><img class="img-thumbnail img-fluid" src="assets/img/restaurant.jpg" id="circle-image">
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><img class="img-thumbnail img-fluid" src="assets/img/restaurant2.jpg" id="circle-image">
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Udon</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-thumbnail img-fluid" src="assets/img/udon.jpg" id="circle-image"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="Food.html"><img class="img-thumbnail img-fluid" src="assets/img/udon2.jpg" id="circle-image"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div
            class="col-sm-6 col-md-4 item"><a href="#"><img class="img-thumbnail img-fluid" src="assets/img/udon3.jpg" id="circle-image"></a>
            <h3 class="name">Article Title</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>
    <section id="Cosplay" style="margin:20px 0;">
        <div class="container">
            <h2 class="text-lowercase text-center float-none" style="margin:10px auto;color:rgb(255,255,255);background-color:rgba(102,100,100,0.38);">The cosplay paradise</h2>
            <div class="row" style="margin:36px;background-position:center;background-size:cover;background-repeat:no-repeat;">
                <div class="col">
                    <div class="card" style="background-image:url(&quot;assets/img/cosplay.jpg&quot;);">
                        <div class="card-body" style="color:rgb(255,255,255);background-color:rgba(78,73,73,0.55);">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(255,255,255);background-color:rgba(255,255,255,0.6);">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="Food.html">More</a></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:36px;background-position:center;background-size:cover;background-repeat:no-repeat;">
                <div class="col">
                    <div class="card" style="background-image:url(&quot;assets/img/cosplay2.jpg&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;">
                        <div class="card-body" style="color:rgb(255,255,255);background-color:rgba(78,73,73,0.55);">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(255,255,255);background-color:rgba(255,255,255,0.6);">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="Food.html">More</a></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:36px;background-position:center;background-size:cover;background-repeat:no-repeat;">
                <div class="col">
                    <div class="card" style="background-image:url(&quot;assets/img/cosplay3.jpeg&quot;);background-position:center;background-size:cover;background-repeat:repeat;">
                        <div class="card-body" style="color:rgb(255,255,255);background-color:rgba(78,73,73,0.55);">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(255,255,255);background-color:rgba(255,255,255,0.6);">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="Food.html">More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Dive in the vibe</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 align-items-end align-self-end item" style="background-image:url(&quot;assets/img/concert3.jpg&quot;);background-position:center;background-size:cover;background-repeat:no-repeat;"><a href="#"></a>
                    <h3 class="name" style="background-color:rgba(255,255,255,0.96);">Article Title</h3>
                    <p class="description" style="background-color:rgba(255,255,255,0.75);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item" style="background-image:url(&quot;assets/img/concert.jpg&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;"><a href="#"></a>
                    <h3 class="name" style="background-color:#ffffff;">Article Title</h3>
                    <p class="description" style="background-color:rgba(255,255,255,0.79);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item" style="background-image:url(&quot;assets/img/concert2.jpg&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;"><a href="#"></a>
                <h3 class="name" style="background-color:rgba(255,255,255,0.97);">Article Title</h3>
                <p class="description" style="background-color:rgba(255,255,255,0.65);color:rgb(0,0,0);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="Food.html" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>