 </div>
    <div class="row" style="width:80%;margin:10px auto;">
        <div class="col">
            <div>
                <p>Paragraph</p>
            </div>
        </div>
    </div>
    <div class="row .payment-dialog-row" style="width:100%;height:500px;margin:0 auto;">
        <div class="col-12 col-md-4 offset-md-4">
            <div class="card credit-card-box">
                <div class="card-header">
                    <h6 class="mb-0"><span class="panel-title-text">Payment Details </span><img class="img-fluid panel-title-image" src="assets/img/accepted_cards.png"></h6>
                </div>
                <div class="card-body">
                    <form id="payment-form">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group"><label for="cardNumber">Card number </label>
                                    <div class="input-group"><input class="form-control" type="tel" required="" placeholder="Valid Card Number" id="cardNumber">
                                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-7">
                                <div class="form-group"><label for="cardExpiry"><span>expiration </span><span>EXP </span> date</label><input class="form-control" type="tel" required="" placeholder="MM / YY" id="cardExpiry"></div>
                            </div>
                            <div class="col-5 pull-right">
                                <div class="form-group"><label for="cardCVC">cv code</label><input class="form-control" type="tel" required="" placeholder="CVC" id="cardCVC"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group"><label for="couponCode">coupon code</label><input class="form-control" type="text" id="couponCode"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12"><button class="btn btn-success btn-block btn-lg" type="submit">Start Subscription</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>